
body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	margin: 0;
    font-size: 1em;
    color: #e0e0e0;
    background-color: #000;
    
}
a {
	color: #06f;
}
h1 {
	font-size: 2.2em;
}
h2 {
	font-size: 1.4em;
}
h2, h3, h4 {
	margin-top: 0;
}
h3, h4 {
	margin-bottom: 0.5em;
}

p, ul {
	font-size: 0.8125em;
	line-height: 1.5;
	margin: 0 0 1.5em;
}
code {
	font-size: 1.2727em;
	color: #777;
}
iframe {
	border: 0;
	overflow: hidden;
}

.container {
	margin: 0 auto;
	/*max-width: 90em;*/
	padding: 0 0;
}

.footer {
	padding-top: 1.5em;
}
.desc {
	color: #888;
}
.intro {
	border-bottom: 1px dotted #bbb;
	padding-bottom: 1.5em;
}
.social {
	border-top: 1px dotted #bbb;
	padding-top: 1.5em;
}

/* minor responsive adjustments */

.footer {
	border-top: 1px dotted #aaa;
}
.content {
	border-bottom: 1px dotted #aaa;
	margin-bottom: 1.5em;
}

#login{
    width: 400px;
    margin: auto;
    background-color: #373737;
    border-radius: 10px;
    margin-top: 200px;
    -webkit-box-shadow: 0 0 12px 	rgba(0,0,0,0.7) /*{b-active-background-color}*/;
	-moz-box-shadow: 0 0 12px 		rgba(0,0,0,0.7) /*{b-active-background-color}*/;
	/*box-shadow: 0 0 12px 			#373737 /*{b-active-background-color}*/;
    padding: 20px;
    box-shadow: rgba(0,0,0,0.7) 0 4px 10px -1px;
}

@media only screen and (max-width: 400px){
    #login{
        width: 86%;
        margin-top: 40px;
    }
}

